@{
    ViewBag.Title = "Prof";
    ViewBag.StyleSheet = "mainstyle.css";
}

<section id="content">

    <h1>Profile Page Coming Soon!</h1>

    <section id="house"></section>

    <div class="coolio" id="bot">
    </div>
</section>