
@{
    ViewBag.Title = "SignedOut";
}

<section id="content">

    <div class="coolio" id="bot">
    </div>

    <section id="out">
        <article> You Have Signed Out Successfuly! </article>

        <a href="index.html">Continue</a>

    </section>

    <div class="coolio" id="bot">
    </div>
</section>

